<p>
<%= partial "partials/_data" %>
</p>

<p>
<%= partial "partials/_data-format" %>
</p>

<p>
<%= partial "partials/_data-primary-key" %>
</p>

<p>
<%= partial "partials/_data-foreign-key" %>
</p>

<p>
<%= partial "partials/_data-foreign-name" %>
</p>

<p>
<%= partial "partials/_data-convert" %>
</p>