<p>
<%= partial "partials/_setup-overview" %>
</p>

<p>
<%= partial "partials/_setup-web-server" %>
</p>

<p>
<%= partial "partials/_setup-html" %>
</p>

<p>
<%= partial "partials/_setup-js-overview" %>
</p>

<p>
<%= partial "partials/_setup-js-page-container" %>
</p>

<p>
<%= partial "partials/_setup-js-list-containers" %>
</p>